# Configuration files for test

<connections>
	connection_Type: {{ connection_Type }}
</connections>

<Account Info>
	UserName: {{ UserName }}
	Pwd: {{ Pwd }}
</Account Info>

<Sysytem Info>
	Distribution: {{ ansible_os_family }}
</System Info>

<Author>
	Aname: {{ Aname }}
</Author>
